@media (max-width: 768px) {
  #sculpture {
    height: 90vh;
  }

  #countdown {
    margin: 0 20px;
  }
}

@media (max-width: 425px) {
  #sculpture {
    height: 100vh;
  }

  .time-box-minutes {
    display: none;
  }
  .time-box-seconds {
    display: none;
  }
}
