<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Muhsin Arslan{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <a href="/" class="logo">Muhsin Arslan</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/books.html">Books</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <div class="container">
        <div class="footer-content">
          <div class="contact-info">
            <p>
              © 2024 Muhsin Arslan | Generated via
              <a
                href="https://github.com/mumudevx/md-static-site-generator"
                target="_blank"
                >Md Static Site Generator</a
              >
            </p>
          </div>
          <div class="social-links">
            <a target="_blank" href="https://linkedin.com/in/muhsinarslan">LinkedIn</a>
            <a target="_blank" href="https://github.com/mumudevx">GitHub</a>
            <a target="_blank" href="https://bento.me/muhsinarslan">Bento</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
