{% extends "base.html" %} {% block title %}Muhsin Arslan | Blog{% endblock %} {%
block content %}
<section class="blog-listing">
  <div class="container">
    <h1>Blog Posts</h1>
    <div class="grid">
      {% for post in posts %}
      <article class="blog-card animate-fade-in">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <div class="blog-meta">
          <span>{{ post.date }}</span>
          <a href="/blog/{{ post.slug }}.html">Read More</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
