{% extends "base.html" %} {% block title %}Muhsin Arslan | Books{% endblock %}
{% block content %}
<section class="book-listing">
  <div class="container">
    <h1>Books</h1>
    <div class="grid">
      {% for post in posts %}
      <div class="book-card animate-fade-in">
        <img
          src="{{ post.image }}"
          alt="{{ post.title }} cover"
          class="book-cover"
        />
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <a href="/books/{{ post.slug }}.html" class="view-details"
          >View Details</a
        >
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
